difyDSL/事件分类器.yml
app:
  description: 给事件分到一个或多个类
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 事件分类器
kind: app
version: 0.1.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1723043183468-source-1723043188049-target
      source: '1723043183468'
      sourceHandle: source
      target: '1723043188049'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1723043188049-source-1723043328670-target
      source: '1723043188049'
      sourceHandle: source
      target: '1723043328670'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1723043328670-source-1723043370871-target
      source: '1723043328670'
      sourceHandle: source
      target: '1723043370871'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: true
        title: 开始
        type: start
        variables:
        - label: 需要分类的文本
          max_length: 1000
          options: []
          required: true
          type: paragraph
          variable: text
      height: 90
      id: '1723043183468'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{

            "text":"{{#1723043183468.text#}}"

            }'
          type: json
        desc: ''
        headers: ''
        method: post
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: http://localhost:10005/classifier
        variables: []
      height: 106
      id: '1723043188049'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(arg1: str) -> dict:\n    import json\n    return {\n   \
          \     \"result\": str(json.loads(arg1)[\"class\"]),\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1723043188049'
          - body
          variable: arg1
      height: 54
      id: '1723043328670'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1723043328670'
          - result
          variable: result
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1723043370871'
      position:
        x: 992
        y: 282
      positionAbsolute:
        x: 992
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 122.96853038181786
      y: -39.656408197749556
      zoom: 0.6826027955238683
