difyDSL/法律检索器.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 法律检索器
kind: app
version: 0.1.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1723280777898-source-1723280873273-target
      source: '1723280777898'
      sourceHandle: source
      target: '1723280873273'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1723280873273-source-1723280913413-target
      source: '1723280873273'
      sourceHandle: source
      target: '1723280913413'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1723280763720-source-1725606806565-target
      source: '1723280763720'
      sourceHandle: source
      target: '1725606806565'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: http-request
      id: 1725606806565-source-1723280777898-target
      source: '1725606806565'
      sourceHandle: source
      target: '1723280777898'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: query
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: query
        - label: labels
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: labels
      height: 116
      id: '1723280763720'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{{#1725606806565.result#}}'
          type: raw-text
        desc: ''
        headers: ''
        method: post
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: http://10.2.20.21:10005/search_laws
        variables: []
      height: 106
      id: '1723280777898'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(arg1: str) -> dict:\n    \n    try:\n        data = eval(arg1)\n\
          \        return {\n            \"result\": data['laws'],\n        }\n  \
          \  except:\n        return{\n            \"result\": arg1,\n        }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1723280777898'
          - body
          variable: arg1
      height: 54
      id: '1723280873273'
      position:
        x: 985.1914615020121
        y: 282
      positionAbsolute:
        x: 985.1914615020121
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1723280873273'
          - result
          variable: result
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1723280913413'
      position:
        x: 1291
        y: 282
      positionAbsolute:
        x: 1291
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(arg1: str, arg2:str) -> dict:\n    import json\n    body\
          \ = {\n    \"query\":arg2,\n    \"labels\":arg1.strip().split('-')\n   \
          \ }\n    return {\n        \"result\": json.dumps(body,ensure_ascii=False),\n\
          \    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 格式化
        type: code
        variables:
        - value_selector:
          - '1723280763720'
          - labels
          variable: arg1
        - value_selector:
          - '1723280763720'
          - query
          variable: arg2
      height: 54
      id: '1725606806565'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 60.55636058311802
      y: -19.78525837885377
      zoom: 1.031453389537779
