difyDSL/相关市场检索器.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 相关市场检索器
kind: app
version: 0.1.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1723280763720-source-1723280777898-target
      source: '1723280763720'
      sourceHandle: source
      target: '1723280777898'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1723280777898-source-1723280873273-target
      source: '1723280777898'
      sourceHandle: source
      target: '1723280873273'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1723280873273-source-1723280913413-target
      source: '1723280873273'
      sourceHandle: source
      target: '1723280913413'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: query
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: query
      height: 88
      id: '1723280763720'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{

            "query":"{{#1723280763720.query#}}"

            }'
          type: json
        desc: ''
        headers: ''
        method: post
        params: ''
        selected: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: http://10.2.20.21:10005/relevant_market_case
        variables: []
      height: 104
      id: '1723280777898'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "\ndef main(arg1: str) -> dict:\n    return {\n        \"result\": eval(arg1)['case'],\n\
          \    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1723280777898'
          - body
          variable: arg1
      height: 52
      id: '1723280873273'
      position:
        x: 685.1914615020121
        y: 282
      positionAbsolute:
        x: 685.1914615020121
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1723280873273'
          - result
          variable: result
        selected: false
        title: 结束
        type: end
      height: 88
      id: '1723280913413'
      position:
        x: 991
        y: 282
      positionAbsolute:
        x: 991
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 11.064119567195121
      y: 16.47288524383461
      zoom: 0.7121141481353547
